<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Habr</title>
    @*<environment names="Development">
           <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        </environment>*@
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
        <a href="@Url.Action("All", "Post")">
            <div class="logo"></div>
        </a>
        @if (ViewBag.IsAuth == true)
        {
            <a href="@Url.Action("SignOut", "User")" class="logBtn" id="signOut">Sign Out</a>
            <a href="@Url.Action("Info", "User")" class="myPageBtn">My Page</a>
        }

        else
        {
            <a href='#' onclick="btnOpen()" class="logBtn">Sign In</a>
        }
    </header>
    <div class="page">
        @RenderBody()
    </div>
    @Html.Partial("SignInModalView", new SignInViewModel())

    <script>
        function btnOpen() {
            let modal = document.getElementById('modal');
            modal.style.display = "block";
        }

        function btnClose() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }

        $('#signOut').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "/User/SignOut",
                success: function () {
                    location.reload();
                }
            });
        });
    </script>
</body>
</html>
