<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Habr</title>
    @*<environment names="Development">
        <link rel="stylesheet" type="text/css" href="" asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
    </environment>*@
    <link rel="stylesheet" type="text/css" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a href="@Url.Action("All", "Post")">
            <div class="logo"></div>
        </a>
        @if (ViewBag.IsAuth == true)
        {
            <a href="@Url.Action("SignOut", "User")" class="logBtn">Sign Out</a>
            <a href="@Url.Action("Info", "User")" class="myPageBtn">MyPage</a>
        }

        else
        {
            <a href="@Url.Action("SignIn", "User")" class="logBtn">Sign In</a>
        }
    </header>
    <div class="page">
        @RenderBody()
    </div>
</body>
</html>
