<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Habr</title>
    <link rel="stylesheet" type="text/css" href="~/styles.css" asp-append-version="true" /></head>
<body>
    <header>
        <div class="logo">
            <a href="@Url.Action("All", "Post")">
                <img src="https://3dnews.ru/assets/external/illustrations/2018/09/20/975724/f1lqkaveikdfqkb_rip_4vq4s_8.png" />
            </a>
        </div>
        @*<img src="https://pp.userapi.com/c303105/v303105106/3da5/WnBKlAleogI.jpg"/>*@
        @if (ViewBag.IsAuth == true)
        {
            <a href="@Url.Action("SignOut", "User")" class="logBtn">Sign Out</a>
            <a href="@Url.Action("Info", "User")" class="myPageBtn">MyPage</a>
        }

        else
        {
            <a href="@Url.Action("SignIn", "User")" class="logBtn">Sign In</a>
        }

        @RenderBody()
    </header>
</body>
</html>
