@model List<Post>

<ul id="postsul" style="list-style:none;">
    @foreach (var p in Model) {
    <li style="text-align:left; padding:10px;">
        <div class="post_info">
            @*@if (ViewBag.IsAuth != true)*@
                <img class="icon" src="@p.User.Avatar" />
                <p>@p.User.Email</p>
            <p>@p.Date.ToString("g")</p>
        </div>

        @Html.ActionLink(@p.Title, "PostInfo", "Post", new { @p.Id }, htmlAttributes: new { @class = "title" })
        <br />
        <img src="@p.Image" />
        <br />
        @p.Preview
        @*@Html.ActionLink("more", "PostInfo", "Post", new { @p.Id })*@
    </li>
    }
</ul>
