@model List<Post>

<ul id="postsul" style="list-style:none;">
    @foreach (var p in Model) {
    <li style="text-align:left; padding:10px;">
        <div class="post_info">
            <img class="icon" src="@p.User.Avatar" />
            @Html.ActionLink(@p.User.Email, "Info", "User", new { @p.User.Id }, htmlAttributes: new { @class = "email-link" })
            <p>@p.Date.ToString("g")</p>
        </div>

        @Html.ActionLink(@p.Title, "PostInfo", "Post", new { @p.Id }, htmlAttributes: new { @class = "title" })
        <br />
        <div style="display:flex;">
            <div style="width:150px;"><img src="@p.Image" class="img-post"/></div>
            <div style="margin-left:40px;"><p>@p.Preview</p></div>
        </div>
    </li>
    }
</ul>
